/* AppComponent's private CSS styles */

.header {
  display: grid;
  grid-template-columns: minmax(20rem, auto) 1fr;
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 40px;
  font-family: 'playFairSc';
  max-width: 20rem;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a.active {
  background-color: black;
}