/* boxes.Component's private CSS styles */

/* housekeeping stuff
 * --gradient list, to be replaced at some point with randomizer?
 * --@media queries to ensure control of dynamic design
 */
.card-grid .product-card:hover {
  --gradient0: linear-gradient(
    135deg, 
    rgba(145,255,140,0.65) 0%,
    rgba(220,155,255,1) 90%
  );
  --gradient1: linear-gradient(
    45deg,
    rgba(120,255,255,.9) 10%,
    rgba(128,255,123,0.65) 100%
  );
  --gradient2: linear-gradient(
    70deg,
    rgba(255,112,112,.6) 0%,
    rgba(121,255,255,.8) 70%
  );
  --gradient3: linear-gradient(
    25deg,
    rgba(121,255,255,.8) 10%,
    rgba(255,112,229,.6) 70%
  );
  --gradient4: linear-gradient(
    110deg,
    rgba(255,185,110,1) 0%,
    rgba(190,120,255,1) 80%
  );
  --gradient5: linear-gradient(
    15deg,
    rgba(247,255,112,1) 0%,
    rgba(121,211,255,1) 80%
  );
}

/* when the page gets only wide enough to contain 2 columns,
 * I want those columns to auto-fill all space available.
 */
@media (min-width: 826px) {
  .card-grid {
    max-width: 42rem; /* ensures columns sit at 2, needs to be changed when contents of `.card {grid-template-columns}` are changed */
  }
}

@media (max-width: 825px) {
  .card-grid {
    max-width: none; /* ensures columns begin to for  */
  }
}

.grid-container {
  display: grid;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr)); /* needs to be changed if I ever change font-size */
  grid-gap: 1rem;
  margin:  9rem 8vw auto 8vw;
}

.card-grid .card {
  background: white;

  /* for the text */
  text-align: center;
  line-height: 288px; 
  font-size: 26px;
  font-family: playFairSc;
}

.card-grid a {
  color: #333;
  text-decoration: none;
}

.card-grid .product-card {
  color: black;
}

.card-grid .product-card:hover {
  color: white;
}

.card-grid .product-card:active {
  background-color: #525252;
  color: #fafafa;
}

/* when the page gets too small for images to be 
 * taller than 288px (taller than the card),
 * they should no longer display. 
 * they are banished to an abosolute position off the page!
 */
@media (min-width: 1230px) {
  .img-container-bg,
  .img-container {
    position: fixed;
    left:  calc(8vw + 43rem);
  }

  .img-container-bg {
    top: 9rem;
  }

  .img-container {
    top:  calc(9rem + 21vh);
  }
}

@media (max-width: 1229px) {
  .img-container-bg,
  .img-container {
    position: absolute;
    left: 5000px;
  }
}

.img-container-bg {
  background-color: gray;
  max-width: 100%;
  width: 45vw;
  height: 86vh;
  margin: auto;
  z-index: -1;
}

img {
  max-width: 90%;
  height: auto;
  margin: auto;
}
