<div class="grid-container">
  
  <div class="card-grid">
    <div *ngFor="let box of boxes" class="card">
      <a routerLink="/detail/{{box.id}}">
        <div 
        [ngStyle]="{'background': gradient}" 
        (mouseover)="pickGradient(box.id)"
        (mouseleave)="removeGradient()"
        class="product-card">
          {{box.name}}
        </div>
      </a>
    </div>
  </div>

</div>

<div class="img-container">

  <img *ngFor="let box of boxes; let i = index"
  [attr.data-index]="i"
  [style.display]="(i == selectedBox) ? 'block' : 'none'"
  src="{{box.imageAddress}}">
  
</div>