<div class="card-grid">
  <div *ngFor="let box of boxes; let i = index"
  [attr.data-index]="i"
  [style.borderTopLeftRadius]="(i === 0) ? '16px' : '0px'"
  [style.borderTopRightRadius]="(i === 1) ? '16px' : '0px'"
  [style.borderBottomLeftRadius]="(i === 6) ? '16px' : '0px'"
  [style.borderBottomRightRadius]="(i === 7) ? '16px' : '0px'"
  class="card">
    <a routerLink="/detail/{{box.id}}">
      <div 
      [ngStyle]="{'background': gradient}" 
      (mouseover)="pickGradient(box.id)"
      (mouseleave)="removeGradient()"
      class="product-card">

        <img class="card-img" src="{{box.imageAddress}}" alt="{{box.imageAltDescription}}">
        <span class="card-title">{{box.name}}</span>
      
      </div>
    </a>
  </div>
</div>

<div class="img-container">

  <img *ngFor="let box of boxes; let i = index"
  [attr.data-index]="i"
  [style.display]="(i === selectedBox) ? 'block' : 'none'"
  src="{{box.imageAddress}}">
  
</div>
