/* BoxesComponent's private CSS styles */
.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 330px));
  place-items: center;
  list-style-type: none;
  padding: 2%;
  margin: auto;
  max-width: 1320px; /* ensures columns sit at 4, needs to be changed when contents of .single-box are changed */
}

input {
  display: block;
  max-width: 400px;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.boxes .single-box {
  display: grid;
  grid-template-rows: 20% 1fr;
  position: relative;
  cursor: pointer;
  max-width:  319px;
  padding: 15px 0px;
  width: 100%;
}

/.boxes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  display: block;
  width: 100%;
  border-radius: 4px;
}

.boxes .prod-card-top {
  display: inline-block;
  color: white;
  background-color:#404882;
  position: relative;
  text-align: center;
  height:  100%;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.boxes .prod-card-top:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.boxes .prod-card-top:active {
  background-color: #525252;
  color: #fafafa;
}

.boxes .prod-card-title {
  position: relative;
  top: 8px;
  font-size: 26px;
  font-family: PlayFairSC;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}