* { 
	box-sizing: border-box;
}

html {
	font-family: Arial;
	color: #cccccc;
}

body {
	background-color: #3b3b3b;
	margin: 0%;
}

h1 {
	font-family: Helvetica;
	font-variant: small-caps;
	letter-spacing: -4px;
	background: linear-gradient(90deg, rgba(247,20,144,1) 40%, rgba(113,116,209,1) 50%, rgba(20,250,204,1) 60%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#title {
	font-size: 1.75vh;
	width: 100%;
	margin: auto;
	text-align: center;
}

#top-container {
	margin: 20px 9%;
	padding: 20px 0px;
	width: 38vw;
	background-color: #4f4f4f;
}

#bar-container {
	margin: auto;
	border: solid #cccccc;
	width: 30vw;
}

.number {
	height: 177.994px; /* golden ratio, baby*/
	margin: 5px;
}

.button {
	width: 100%;
	height: 100%;
}

#num10 {
	background: rgb(92,175,158);
	background: linear-gradient(rgba(92,175,158,1) 0%, rgba(20,250,204,1) 60%);
}

#num9 {
	background: rgb(132,217,203);
	background: linear-gradient(rgba(132,217,203,1) 0%, rgba(43,227,198,1) 60%);
}

#num8 {
	background: rgb(151,226,219);
	background: linear-gradient(rgba(151,226,219,1) 0%, rgba(63,206,193,1) 60%);
}

#num7 {
	background: rgb(157,200,201);
	background: linear-gradient(rgba(157,200,201,1) 0%, rgba(83,185,188,1) 60%);
}

#num6 {
	background: rgb(163,194,207);
	background: linear-gradient(rgba(163,194,207,1) 0%, rgba(108,160,181,1) 60%);
}

#num5 {
	background: rgb(177,185,201);
	background: linear-gradient(rgba(177,185,201,1) 0%, rgba(126,142,176,1) 60%);
}

#num4 {
	background: rgb(185,162,194);
	background: linear-gradient(rgba(185,162,194,1) 0%, rgba(153,114,169,1) 60%);
}

#num3 {
	background: rgb(194,143,188);
	background: linear-gradient(rgba(194,143,188,1) 0%, rgba(174,93,164,1) 60%);
}

#num2 {
	background: rgb(214,135,189);
	background: linear-gradient(rgba(214,135,189,1) 0%, rgba(199,68,157,1) 60%);
}

#num1 {
	background: rgb(255,138,202);
	background: linear-gradient(rgba(255,138,202,1) 0%, rgba(247,20,144,1) 60%);
}

.label {
	font-size: 7vh;
	color: #4f4f4f;
}