/* HeroSearch private styles */
#search-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 38rem;
  height: 8rem;
}

label {
  font-family: monospace;
  padding: 0px 8px;
  font-size: 30px;
  height: 35px;
}

input {
  margin: auto;
  padding: .5rem;
  width: 90%;
  box-sizing: border-box;
}

input:focus {
  outline: #336699 auto 1px;
}

li {
  list-style-type: none;
}
.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;
}