/* HeroSearch private styles */

/*@media (min-width: 826px) {
  .card-grid {
    max-width: 42rem;
  }
}

@media (max-width: 825px) {
  .search-component {
    max-width: none;
  }
}*/

.header {
  display: grid;
  grid-template-columns: minmax(20rem, auto) 1fr;
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: relative;
  top: -4px;
  text-align: center;
  font-size: 40px;
  font-family: 'playFairSc';
  line-height: 44px;
  max-width: 8rem;
}

#search-component {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 44rem;
  width: calc(100vw - 24rem);
  height: 8rem;
}

input {
  padding: .5rem;
  width: calc(100% - 1rem);
  box-sizing: border-box;
}

input:focus {
  outline: #336699 auto 1px;
}

li {
  list-style-type: none;
}

.search-result li a {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  display: inline-block;
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #435A60;
  color: white;
}

ul .search-result {
  margin-top: 0;
  padding-left: 0;
}


/*TODO: add magnifying glass icon and 'search' pre-filled text to the search bar*/