/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: playFairSc;
    src: url(./assets/fonts/PlayfairDisplaySC-Regular.ttf) format("truetype");
}

body {
	background: linear-gradient(
		135deg,
		rgba(145,255,140,.45) 0%,
		rgba(220,155,255,.45) 100%
	) no-repeat center center fixed;
}