/* BoxDetailComponent's private CSS styles */
h2,p,span,button {
  font-family: arial;
}

.details-background {
  background: #e1ffdc;
  width: 90vw;
  max-width: 60rem;
  margin: auto;
  padding-top: 8rem;
}

.details-container {
  width: 90%;
  margin: auto;
}

/* TEXT */
h1 {
  font-weight: normal;
  margin: 3rem 0 3rem 0;
}

h2 {
  margin: 2.5rem 0 1.5rem 0;
}

.details-title {
  font-size: 32px;
  text-align: center;
}

.details-header {
  font-size: 20px;
}

.details-copy {
  font-size: 14px;
  margin-top: 1rem;
}

.justify {
  text-align: justify;
}

.center {
  text-align: center;
}

/* IMAGE */
.card-img {
  width: 100%;
  max-width: 30rem;
  margin: auto;
}

/* BUTTON */
.button-container {
  display: grid;
  align-content: center;
}

button {
  background-color: #eee;
  margin: 1.8rem auto;
  padding: 0.8rem 1.1rem;
  border-radius: 4px;
  font-size: 1rem;
  font-variant: small-caps;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}