<div class="details-background">
  <div *ngIf="box" class="details-container">
    <h1 class="details-title center">{{box.name | uppercase}}</h1>

    <p class="details-copy justify">{{box.titles}}</p>
    <p class="details-copy justify">{{box.shortdesc}}</p>

    <img class="card-img" src="{{box.imageAddress}}" alt="{{box.imageAltDescription}}">
    
    <h2 class="details-header">About</h2>
    <p class="details-copy justify">{{box.longdesc}}</p>
    <h2 class="details-header">Tech</h2>
    <p class="details-copy justify">{{box.tech}}</p>
    
    <div class="button-container">
      <button (click)="goBack()">back</button>
    </div>
  </div>
</div>